<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>DOH DPMR</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

</head>
<body>
  <div class="container">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" name="username"/>
            </div>
          </form>
        </div>
      </div>
  </div>
</body>
</html>